wsdl/AcademicDashboard.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AcademicDashboardService"
             targetNamespace="http://localhost:8001/AcademicDashboard"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://localhost:8001/AcademicDashboard">

    <!-- Types -->
    <types>
        <xsd:schema targetNamespace="http://localhost:8001/AcademicDashboard">
            <!-- MataKuliah Type -->
            <xsd:complexType name="MataKuliah">
                <xsd:sequence>
                    <xsd:element name="kode_mata_kuliah" type="xsd:string"/>
                    <xsd:element name="nama_mata_kuliah" type="xsd:string"/>
                    <xsd:element name="sks" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- ArrayOfMataKuliah Type -->
            <xsd:complexType name="ArrayOfMataKuliah">
                <xsd:sequence>
                    <xsd:element name="MataKuliah" type="tns:MataKuliah" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Mahasiswa Type -->
            <xsd:complexType name="Mahasiswa">
                <xsd:sequence>
                    <xsd:element name="nim" type="xsd:string"/>
                    <xsd:element name="nama" type="xsd:string"/>
                    <xsd:element name="alamat" type="xsd:string"/>
                    <xsd:element name="mata_kuliah" type="tns:ArrayOfMataKuliah"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- ArrayOfMahasiswa Type -->
            <xsd:complexType name="ArrayOfMahasiswa">
                <xsd:sequence>
                    <xsd:element name="Mahasiswa" type="tns:Mahasiswa" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- CreateMahasiswaRequest Type -->
            <xsd:complexType name="CreateMahasiswaRequest">
                <xsd:sequence>
                    <xsd:element name="nim" type="xsd:string"/>
                    <xsd:element name="nama" type="xsd:string"/>
                    <xsd:element name="alamat" type="xsd:string"/>
                    <xsd:element name="mata_kuliah" type="tns:ArrayOfMataKuliah"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- CreateMahasiswaResponse Type -->
            <xsd:complexType name="CreateMahasiswaResponse">
                <xsd:sequence>
                    <xsd:element name="mahasiswa" type="tns:Mahasiswa"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- UpdateMahasiswaRequest Type -->
            <xsd:complexType name="UpdateMahasiswaRequest">
                <xsd:sequence>
                    <xsd:element name="nim" type="xsd:string"/>
                    <xsd:element name="nama" type="xsd:string"/>
                    <xsd:element name="alamat" type="xsd:string"/>
                    <xsd:element name="mata_kuliah" type="tns:ArrayOfMataKuliah"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- UpdateMahasiswaResponse Type -->
            <xsd:complexType name="UpdateMahasiswaResponse">
                <xsd:sequence>
                    <xsd:element name="mahasiswa" type="tns:Mahasiswa"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- DeleteMahasiswaRequest Type -->
            <xsd:complexType name="DeleteMahasiswaRequest">
                <xsd:sequence>
                    <xsd:element name="nim" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- DeleteMahasiswaResponse Type -->
            <xsd:complexType name="DeleteMahasiswaResponse">
                <xsd:sequence>
                    <xsd:element name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- MataKuliah CRUD Types -->
            <!-- CreateMataKuliahRequest Type -->
            <xsd:complexType name="CreateMataKuliahRequest">
                <xsd:sequence>
                    <xsd:element name="kode_mata_kuliah" type="xsd:string"/>
                    <xsd:element name="nama_mata_kuliah" type="xsd:string"/>
                    <xsd:element name="sks" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- CreateMataKuliahResponse Type -->
            <xsd:complexType name="CreateMataKuliahResponse">
                <xsd:sequence>
                    <xsd:element name="mata_kuliah" type="tns:MataKuliah"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- UpdateMataKuliahRequest Type -->
            <xsd:complexType name="UpdateMataKuliahRequest">
                <xsd:sequence>
                    <xsd:element name="kode_mata_kuliah" type="xsd:string"/>
                    <xsd:element name="nama_mata_kuliah" type="xsd:string"/>
                    <xsd:element name="sks" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- UpdateMataKuliahResponse Type -->
            <xsd:complexType name="UpdateMataKuliahResponse">
                <xsd:sequence>
                    <xsd:element name="mata_kuliah" type="tns:MataKuliah"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- DeleteMataKuliahRequest Type -->
            <xsd:complexType name="DeleteMataKuliahRequest">
                <xsd:sequence>
                    <xsd:element name="kode_mata_kuliah" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- DeleteMataKuliahResponse Type -->
            <xsd:complexType name="DeleteMataKuliahResponse">
                <xsd:sequence>
                    <xsd:element name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Global Elements -->
            <!-- Mahasiswa CRUD Elements -->
            <xsd:element name="GetAllMahasiswaRequest" type="tns:GetAllMahasiswaRequest"/>
            <xsd:element name="GetAllMahasiswaResponse" type="tns:GetAllMahasiswaResponse"/>

            <xsd:element name="GetMahasiswaByNimRequest" type="tns:GetMahasiswaByNimRequest"/>
            <xsd:element name="GetMahasiswaByNimResponse" type="tns:GetMahasiswaByNimResponse"/>

            <xsd:element name="CreateMahasiswaRequest" type="tns:CreateMahasiswaRequest"/>
            <xsd:element name="CreateMahasiswaResponse" type="tns:CreateMahasiswaResponse"/>

            <xsd:element name="UpdateMahasiswaRequest" type="tns:UpdateMahasiswaRequest"/>
            <xsd:element name="UpdateMahasiswaResponse" type="tns:UpdateMahasiswaResponse"/>

            <xsd:element name="DeleteMahasiswaRequest" type="tns:DeleteMahasiswaRequest"/>
            <xsd:element name="DeleteMahasiswaResponse" type="tns:DeleteMahasiswaResponse"/>

            <!-- MataKuliah CRUD Elements -->
            <xsd:element name="GetAllMataKuliahRequest" type="tns:GetAllMataKuliahRequest"/>
            <xsd:element name="GetAllMataKuliahResponse" type="tns:GetAllMataKuliahResponse"/>

            <xsd:element name="GetMataKuliahByKodeRequest" type="tns:GetMataKuliahByKodeRequest"/>
            <xsd:element name="GetMataKuliahByKodeResponse" type="tns:GetMataKuliahByKodeResponse"/>

            <xsd:element name="CreateMataKuliahRequest" type="tns:CreateMataKuliahRequest"/>
            <xsd:element name="CreateMataKuliahResponse" type="tns:CreateMataKuliahResponse"/>

            <xsd:element name="UpdateMataKuliahRequest" type="tns:UpdateMataKuliahRequest"/>
            <xsd:element name="UpdateMataKuliahResponse" type="tns:UpdateMataKuliahResponse"/>

            <xsd:element name="DeleteMataKuliahRequest" type="tns:DeleteMataKuliahRequest"/>
            <xsd:element name="DeleteMataKuliahResponse" type="tns:DeleteMataKuliahResponse"/>
        </xsd:schema>
    </types>

    <!-- Messages -->
    <!-- Mahasiswa CRUD Messages -->
    <message name="GetAllMahasiswaRequest">
        <part name="parameters" element="tns:GetAllMahasiswaRequest"/>
    </message>
    <message name="GetAllMahasiswaResponse">
        <part name="parameters" element="tns:GetAllMahasiswaResponse"/>
    </message>

    <message name="GetMahasiswaByNimRequest">
        <part name="parameters" element="tns:GetMahasiswaByNimRequest"/>
    </message>
    <message name="GetMahasiswaByNimResponse">
        <part name="parameters" element="tns:GetMahasiswaByNimResponse"/>
    </message>

    <message name="CreateMahasiswaRequest">
        <part name="parameters" element="tns:CreateMahasiswaRequest"/>
    </message>
    <message name="CreateMahasiswaResponse">
        <part name="parameters" element="tns:CreateMahasiswaResponse"/>
    </message>

    <message name="UpdateMahasiswaRequest">
        <part name="parameters" element="tns:UpdateMahasiswaRequest"/>
    </message>
    <message name="UpdateMahasiswaResponse">
        <part name="parameters" element="tns:UpdateMahasiswaResponse"/>
    </message>

    <message name="DeleteMahasiswaRequest">
        <part name="parameters" element="tns:DeleteMahasiswaRequest"/>
    </message>
    <message name="DeleteMahasiswaResponse">
        <part name="parameters" element="tns:DeleteMahasiswaResponse"/>
    </message>

    <!-- MataKuliah CRUD Messages -->
    <message name="GetAllMataKuliahRequest">
        <part name="parameters" element="tns:GetAllMataKuliahRequest"/>
    </message>
    <message name="GetAllMataKuliahResponse">
        <part name="parameters" element="tns:GetAllMataKuliahResponse"/>
    </message>

    <message name="GetMataKuliahByKodeRequest">
        <part name="parameters" element="tns:GetMataKuliahByKodeRequest"/>
    </message>
    <message name="GetMataKuliahByKodeResponse">
        <part name="parameters" element="tns:GetMataKuliahByKodeResponse"/>
    </message>

    <message name="CreateMataKuliahRequest">
        <part name="parameters" element="tns:CreateMataKuliahRequest"/>
    </message>
    <message name="CreateMataKuliahResponse">
        <part name="parameters" element="tns:CreateMataKuliahResponse"/>
    </message>

    <message name="UpdateMataKuliahRequest">
        <part name="parameters" element="tns:UpdateMataKuliahRequest"/>
    </message>
    <message name="UpdateMataKuliahResponse">
        <part name="parameters" element="tns:UpdateMataKuliahResponse"/>
    </message>

    <message name="DeleteMataKuliahRequest">
        <part name="parameters" element="tns:DeleteMataKuliahRequest"/>
    </message>
    <message name="DeleteMataKuliahResponse">
        <part name="parameters" element="tns:DeleteMataKuliahResponse"/>
    </message>

    <!-- Port Type -->
    <portType name="AcademicDashboardPortType">
        <!-- Mahasiswa CRUD Operations -->
        <operation name="GetAllMahasiswa">
            <input message="tns:GetAllMahasiswaRequest"/>
            <output message="tns:GetAllMahasiswaResponse"/>
        </operation>
        <operation name="GetMahasiswaByNim">
            <input message="tns:GetMahasiswaByNimRequest"/>
            <output message="tns:GetMahasiswaByNimResponse"/>
        </operation>
        <operation name="CreateMahasiswa">
            <input message="tns:CreateMahasiswaRequest"/>
            <output message="tns:CreateMahasiswaResponse"/>
        </operation>
        <operation name="UpdateMahasiswa">
            <input message="tns:UpdateMahasiswaRequest"/>
            <output message="tns:UpdateMahasiswaResponse"/>
        </operation>
        <operation name="DeleteMahasiswa">
            <input message="tns:DeleteMahasiswaRequest"/>
            <output message="tns:DeleteMahasiswaResponse"/>
        </operation>

        <!-- MataKuliah CRUD Operations -->
        <operation name="GetAllMataKuliah">
            <input message="tns:GetAllMataKuliahRequest"/>
            <output message="tns:GetAllMataKuliahResponse"/>
        </operation>
        <operation name="GetMataKuliahByKode">
            <input message="tns:GetMataKuliahByKodeRequest"/>
            <output message="tns:GetMataKuliahByKodeResponse"/>
        </operation>
        <operation name="CreateMataKuliah">
            <input message="tns:CreateMataKuliahRequest"/>
            <output message="tns:CreateMataKuliahResponse"/>
        </operation>
        <operation name="UpdateMataKuliah">
            <input message="tns:UpdateMataKuliahRequest"/>
            <output message="tns:UpdateMataKuliahResponse"/>
        </operation>
        <operation name="DeleteMataKuliah">
            <input message="tns:DeleteMataKuliahRequest"/>
            <output message="tns:DeleteMataKuliahResponse"/>
        </operation>
    </portType>

    <!-- Binding -->
    <binding name="AcademicDashboardBinding" type="tns:AcademicDashboardPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <!-- Mahasiswa CRUD Bindings -->
        <operation name="GetAllMahasiswa">
            <soap:operation soapAction="http://localhost:8001/AcademicDashboard/GetAllMahasiswa"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetMahasiswaByNim">
            <soap:operation soapAction="http://localhost:8001/AcademicDashboard/GetMahasiswaByNim"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateMahasiswa">
            <soap:operation soapAction="http://localhost:8001/AcademicDashboard/CreateMahasiswa"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="UpdateMahasiswa">
            <soap:operation soapAction="http://localhost:8001/AcademicDashboard/UpdateMahasiswa"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteMahasiswa">
            <soap:operation soapAction="http://localhost:8001/AcademicDashboard/DeleteMahasiswa"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <!-- MataKuliah CRUD Bindings -->
        <operation name="GetAllMataKuliah">
            <soap:operation soapAction="http://localhost:8001/AcademicDashboard/GetAllMataKuliah"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetMataKuliahByKode">
            <soap:operation soapAction="http://localhost:8001/AcademicDashboard/GetMataKuliahByKode"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateMataKuliah">
            <soap:operation soapAction="http://localhost:8001/AcademicDashboard/CreateMataKuliah"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="UpdateMataKuliah">
            <soap:operation soapAction="http://localhost:8001/AcademicDashboard/UpdateMataKuliah"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteMataKuliah">
            <soap:operation soapAction="http://localhost:8001/AcademicDashboard/DeleteMataKuliah"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service -->
    <service name="AcademicDashboardService">
        <port name="AcademicDashboardPort" binding="tns:AcademicDashboardBinding">
            <soap:address location="http://localhost:8001/soap"/>
        </port>
    </service>
</definitions>
